html {
  font-family: 'Helvetica';
  font-size: 1.2em;
  background-color: #E0E0E0;
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
}

footer {
  margin: 14em auto 0;
}

a {
  color: #606060;
}

p {
  line-height: 1.6;
}

footer a {
  text-decoration: none;
  padding-right: 10px;
}

select {
  background-color: transparent;
}
