
/*================================forms style*/
form {
  /*justify-content: center;*/
  /*margin: auto;*/
}
/*Search Results*/
.results-cards {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 2em;
  background-color: #FFF;
  padding: .5em;
}

.search-card, .list-add-card {
  display: block;
  margin: 1em auto;
  width: 90%;
  background-color: #FFF;
  padding: .5em;
}
.list-items {
  display: block;
  margin: 1em auto;
  width: 90%;
  background-color: #FFF;
  padding: .5em;
}
/*================================shopping list style*/
.container {
  display: block;
  width: 360px;
  margin: 0 auto;
}

.css-flex-small-add-button {
  display: flex;
  /*color: #FFF;
  font-size: 15px;
  width: auto;*/
}
button {
  display: block;
  background: none;
  border: 0px;
  /*margin: 10px 0 0;*/
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}


input[type="text"] {
  padding: 12px 8px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  min-width: 50%;
  color: #303030;
  background-color: #FFF;
  cursor: text;
  margin: 0;
}

#new-item {
  width: 50%;
}
