html {
  font-family: 'Helvetica';
  font-size: 1.2em;
}
body {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.8)
    ) no-repeat center center fixed, url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ee0e1e6f2902c4b2338bf54ee31ce2ba) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav[role=navigation] {
  background: rgba(255, 255, 255, 0.3);
  clear: both;
  overflow: hidden;
  border: 0px;
}
.js nav[role=navigation] {
  width: 14em;
  position: absolute;
  top: 0;
  left: -18em;
}

nav[role=navigation] li a {
  display: block;
  float: right;
  padding-right: 1em;
  color: #FFF;
  text-decoration: none;
}
.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrap.active {
  left: 14em;
}
.css-home-login-link {
  display: flex;
  float: right;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: sans-serif;
  color: #FFFFFF;
  margin: 30px;
  max-width: 960px;
  padding-bottom: 5px;
}
.css-home-logo {
  padding-bottom: 4em;
  width: 80%;
  max-width: 400px;
}
.css-home-flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content:space-around;
  font-family: sans-serif;
  color: #fff;
  margin: 40px auto;
  background: rgba(255,255,255, 0.3);
  width: 100%;
  max-width: 960px;
}
.css-wide-block-container {
  display: block;
  font-family: sans-serif;
  color: #303030;
  margin: 40px auto;
  background: rgba(255,255,255, 0.3);
  width: 100%;
  max-width: 800px;
  border-bottom: 20px;
  padding-bottom: 60px;
}
.css-full-img {
  width: 100%;
}
i.icon-search.large-icon, i.icon-clipboard.large-icon {
  font-size: 3em;
}
.css-home-col1 {
  width: 340px;
  margin: 0 auto;
  padding: 2em;
  font-size: 1.2em;
  text-shadow: 0 1px 0 black;
}
.css-home-col2 {
  width: 340px;
  margin: 0 auto;
  padding: 2em;
  font-size: 1.2em;
  text-shadow: 0 1px 0 black;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

a.menu-link {
  font-size: 2em;
  text-decoration: none;
  color: #FFF;
  padding-left: .85em;
}
.css-center {
  text-align: center;
  padding-bottom: 2em;
  width: 100%;
}

h1.css-feature-section {
  min-height: 120px;
  width: 90%;
  max-width: 700px;
  line-height: 1.6em;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 60px;
}

p {
  width: 100%;
  text-align: left;
  margin: 0;
  line-height: 1.6;
}
.login-message {
  font-size: .8em;
  text-align: center;
  margin: 60px auto 18px;
}
.login-message a {
  text-decoration: none;
  color: #FFF;
}
li * {
  float: left;
}
ul {
  margin: 0;
  padding: 0;
}
.add {
  font-size: 15px;
  color: #0FC57C;
  float: right;
  padding-top: 10px;
}
.delete {
  font-size: 15px;
  color: #CF2323;
  float: right;
  padding-top: 10px;
}

.css-nav-list {
  border: 0px;
}
#bought label {
  text-decoration: line-through;
  color: #888;
}
ul li input[type=text] {
  display: none;
}

input {
  box-sizing: border-box;
}
.css-home-form-div {
	background-color:rgba(255,255,255,0.3);
	padding:35px;
  width: 360px;
  margin: 0 auto;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 12px 24px;
  margin: 18px auto;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #e74c3c;
  cursor: pointer;
}

.search-box {
  display: flex;
  padding: 12px 8px;
  font-size: 16px;
  text-align: left;
  flex: auto;
  margin: 18px auto;
  color: #303030;
  background-color: #FFF;
  cursor: text;
}

.name-email-box {
  display: block;
  padding: 12px 8px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin: 18px auto;
  color: #303030;
  background-color: #FFF;
  border: 0px;
  cursor: text;
}
.submit-button:hover, .submit-button:active, .submit-button:focus {
  opacity: 0.7;
}
.section-titles {
  color: #FFF;
  margin: 20px;
  padding: 30px 0 10px;
}

.css-section-header {
  color: #303030;
  font-size: 1.6em;
}
.css-recipe-header {
  color: #303030;
  font-size: 1.6em;
  margin: 10px auto;
}

.css-home-cta-button{
  width: 100%;
	border: 0px;
	background-color: #e74c3c;
	color:white;
	font-size:24px;
	padding:22px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.css-directions-button {
	width: 100%;
	border: 0px;
	background-color: #e74c3c;
  color: #FFF;
	font-size:24px;
	padding:22px 0;
  margin-top:-4px;
  box-sizing: border-box;
  cursor:pointer;
}

.css-home-submit:hover{
  opacity: 0.7;
}

footer a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}
footer {
  padding-top: 40px;
}
li {
  overflow: hidden;
  word-wrap: break-word;
  padding: 20px 0;
  border-bottom: 1px solid #FFF;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li > label {
  font-size: 15px;
  line-height: 40px;
  width: inherit;
  padding: 0 0 0 11px;
}

form {
  /*justify-content: center;*/
  /*margin: auto;*/
}
.results-cards {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 2em;
  background-color: #FFF;
  padding: .5em;
}

.search-card, .list-add-card {
  display: block;
  margin: 1em auto;
  width: 90%;
  background-color: #FFF;
  padding: .5em;
}
.list-items {
  display: block;
  margin: 1em auto;
  width: 90%;
  background-color: #FFF;
  padding: .5em;
}
.container {
  display: block;
  width: 360px;
  margin: 0 auto;
}

.css-flex-small-ingredients-button {
  display: flex;
  font-size: 1em;
  width: auto;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  margin: 2em 0;
  padding: .5em;
}

.css-flex-small-search-button, .css-flex-small-additem-button {
  display: flex;
  font-size: .9em;
  width: auto;
  border: 0px;
  color: #e74c3c;
  margin: 1em 0;
}




.css-flex-small-additem-button {
  font-size: 15px;
  color: #0FC57C;
  float: right;
  padding-top: 10px;
}
button {
  display: block;
  background: none;
  border: 0px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

input[type="text"] {
  padding: 12px 8px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  min-width: 50%;
  color: #303030;
  background-color: #FFF;
  cursor: text;
  margin: 0;
}

#new-item {
  width: 50%;
}

@media only screen and (max-width: 580px) {
	.css-home-form-div{
    box-sizing: border-box;
	}
}
